# Leveraging Twitter Data to Conquer the Digital Market of an Emerging Country (Togo)

## 1- Introduction


In this project, acting as a data analyst working for a digital marketing agency aiming to conquer the Togolese digital landscape, I have mined nearly 3,000 tweets from 1st January 2022 to 30 April 2023 containing the most popular hashtags among Togolese "Twittos" using the Python library Snscrape and also performed some analysis with SQL and finally creating vizualisations in Power BI to highlights insights from the analysis.

## 2- Data gathering from Twitter using Snscrape

In this section, after importing the necessary libraries, we have defined the most popular hashtags to analyze and the timeframe to be covered.
The scraped tweets are then stored in a list, converted in a dataframe and also saved as a csv file.

In [1]:
# Importing the libraries
import pandas as pd
import snscrape.modules.twitter as sntwitter
from datetime import datetime, timedelta

# Define the popular hashtags to analyze
hashtags = ['#Tgtwittos', '#TT228', '#Togo63', '#Team228', '#tgtwittos', '#team228']

# Define the start and end dates for the time frame
start_date = datetime(2022, 1, 1)
end_date = datetime(2023, 4, 30)

# Initialize an empty list to store the tweets
tweets_list = []

# Loop through each hashtag and collect the tweets
for hashtag in hashtags:
    query = f'{hashtag} lang:en'
    for tweet in sntwitter.TwitterSearchScraper(query + f' since:{start_date.date()} until:{end_date.date()}').get_items():
        tweets_list.append([tweet.id, tweet.user.id, hashtag, tweet.date, tweet.retweetCount, tweet.likeCount, tweet.replyCount, tweet.content, tweet.user.location,tweet.source])

# Convert the list of tweets into a Pandas dataframe
tweets_df = pd.DataFrame(tweets_list, columns=['tweet_id', 'user_id', 'hashtag', 'date', 'retweets', 'likes', 'replies', 'text', 'location','source'])

# Save the dataframe as a CSV file
tweets_df.to_csv('tweets.csv', index=False)

C:\Users\user\AppData\Local\Temp\ipykernel_9348\2332276814.py:20: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  tweets_list.append([tweet.id, tweet.user.id, hashtag, tweet.date, tweet.retweetCount, tweet.likeCount, tweet.replyCount, tweet.content, tweet.user.location,tweet.source])
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d49aba810ae77e'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d44c4746843912'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d4bb2c0994424b'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d4d1b32bc9bb34'
Skipping unrecognised entry ID: 'promoted-tweet-1655949886884569091-2d4d48b816db8e3'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d423c1a3c56961'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d452c1cfc969b7'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d4b31738f2da8f'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d4c4ff553652d3'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d4cc16d89236e9'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d4e5dc66b4a3db'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d431e35447457d'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d4b81733a04f29'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d4de327f1f7654'
Skipping unrecognised entry ID: 'promoted-tweet-1648597308982939649-2d47f0cb770087e'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d44e2e3da66bc0'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d49b2f603a19c8'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d408ed341463a8'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d46fb3f44dc684'
Skipping unrecognised entry ID: 'promoted-tweet-1655120302186086400-2d4c5492049de4e'
Skipping unrecognised entry ID: 'promoted-tweet-1655949886884569091-2d4813dc4476a81'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d43ef41375cf03'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d404691ce8dc95'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d4b98770db9b58'
Skipping unrecognised entry ID: 'promoted-tweet-1655949886884569091-2d4065a414e3b5b'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d405226c12970d'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d4c69eddda819b'
Skipping unrecognised entry ID: 'promoted-tweet-1655120302186086400-2d49b3b3805d95c'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d4bf2a297344c7'
Skipping unrecognised entry ID: 'promoted-tweet-1655949886884569091-2d4183a4f5e9d84'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d4340ed786940d'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d47c2de8cbfe43'
Skipping unrecognised entry ID: 'promoted-tweet-1655949886884569091-2d495487ea11b1f'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d4f93fe6ca0931'
Skipping unrecognised entry ID: 'promoted-tweet-1622883010977701888-2d46b941487dd16'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d4c413f9f76e11'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d47b4678dd73b4'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d44f4a94d42199'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d4ca27159abe57'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d4d7912306cbf1'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d41c73a316506c'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d4ee3ab4bd620a'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d4ae8f939d7750'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d4565097830229'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d415fcb66bfeea'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d432535e465390'
Skipping unrecognised entry ID: 'promoted-tweet-1648559550415482881-2d48fbf8cfcc429'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d51b5e9a83c5b5'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d5ab7e5f0883eb'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d578efda0df580'
Skipping unrecognised entry ID: 'promoted-tweet-1622883010977701888-2d5bd314b692cb6'
Skipping unrecognised entry ID: 'promoted-tweet-1622883010977701888-2d50d25a881c7af'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d5ec02259614c7'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d5f02afbcbae5e'
Unavailable user in card on tweet 1530252111472107523
Unavailable user in card on tweet 1530252111472107523
User 1221458578411835392 not found in user refs in card on tweet 1530252111472107523
User 1221458578411835392 not found in user refs in card on tweet 1530252111472107523
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d5a93ed0d0a107'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d51a8ecb9ceff3'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d53558b7363b3a'
Skipping unrecognised entry ID: 'promoted-tweet-1655120302186086400-2d593256b7f23cd'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d5419732aaaf44'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d5ab5e694473a6'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d55cbdfca28174'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d5272800b74d28'
Skipping unrecognised entry ID: 'promoted-tweet-1648597308982939649-2d547e4d6e1afe0'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d5cf364ebe1b96'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d5731a6cd53df7'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d5a7b6ce99ac61'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d5a4d84eebca15'
Skipping unrecognised entry ID: 'promoted-tweet-1655949886884569091-2d5a943539707ee'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d536ae7b7e4242'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d57869f941a3cc'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d5ce81978556e7'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d5e15d040b420b'
Skipping unrecognised entry ID: 'promoted-tweet-1648597308982939649-2d52280c5476979'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d5a8db874aec14'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d579d70f24e37f'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d56534c922e552'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d5178d464a9c74'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d5e5f3186ad29f'
Stopping after 20 empty pages
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d5c50fb8685ca1'
Skipping unrecognised entry ID: 'promoted-tweet-1622883010977701888-2d5c586a7b84b2e'
Skipping unrecognised entry ID: 'promoted-tweet-1622883010977701888-2d57be0622a009f'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d57cb5175829de'
Skipping unrecognised entry ID: 'promoted-tweet-1655120302186086400-2d5d85dad88af6e'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d554e065746d86'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d5475d430ac20d'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d59339bd8d5ef9'
Stopping after 20 empty pages
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d5db57665d7dbf'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d537420973e681'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d5244e4decae9c'

Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d53c67f98e4785'
Unavailable user in card on tweet 1651615504010706951
Unavailable user in card on tweet 1651615504010706951
User 1541906272940830720 not found in user refs in card on tweet 1651615504010706951
User 1541906272940830720 not found in user refs in card on tweet 1651615504010706951
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d5809e20ec5970'
Skipping unrecognised entry ID: 'promoted-tweet-1651243541346107394-2d53351a9d19b91'
Stopping after 20 empty pages
Skipping unrecognised entry ID: 'promoted-tweet-1622883010977701888-2d5b64992fcee8f'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d51888968e4e9e'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d517c522657d8e'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d5fc6c6b9f7030'
Skipping unrecognised entry ID: 'promoted-tweet-1655944095335067648-2d55d1f2bf3376f'
Skipping unrecognised entry ID: 'promoted-tweet-1648597308982939649-2d5cbbd42c4daef'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d57ca7446d90e8'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d5a997aa20f60f'
Skipping unrecognised entry ID: 'promoted-tweet-1653117898083250176-2d5c3f180c274c9'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d52fdf4670bb4e'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d6c745573b9494'
Skipping unrecognised entry ID: 'promoted-tweet-1648959705727787008-2d6e2b03b5e7237'
Stopping after 20 empty pages

In [2]:
tweets_df.head()

,tweet_id,user_id,hashtag,date,retweets,likes,replies,text,location,source
0,1652407000083341314,940894696947306496,#Tgtwittos,2023-04-29 20:18:23+00:00,1,5,0,we are live link to teams : https://t.co/iCtDW...,Tech Enthusiast Palace,None
1,1652322746259456000,1078599142514003968,#Tgtwittos,2023-04-29 14:43:36+00:00,1,2,0,""" #Togo is a land of young innovators, doers, ...",République Togolaise,None
2,1652101793210421252,1902319314,#Tgtwittos,2023-04-29 00:05:36+00:00,0,2,0,The flag 🇹🇬 The ...,République Togolaise,None
3,1652081148854452225,555754465,#Tgtwittos,2023-04-28 22:43:34+00:00,8,51,0,The Flag / ...,Togo,None
4,1651981956022693889,1419331325274767363,#Tgtwittos,2023-04-28 16:09:25+00:00,3,3,0,HP PROBOOK 455 G9 NoteBook \nWindows 11Pro \nA...,République Togolaise,None

## 3- Data cleaning and preprocessing

In [3]:
# first, let us check the shape of the dataset
tweets_df.shape

(2934, 10)

Our scraped tweets dataset covering the period contain 2934 rows and 10 columns.

In [4]:
# let's now check the data types of each column
tweets_df.dtypes

tweet_id                  int64
user_id                   int64
hashtag                  object
date        datetime64[ns, UTC]
retweets                  int64
likes                     int64
replies                   int64
text                     object
location                 object
source                   object
dtype: object

In [5]:
# let us count the number of null values in each column
null_counts = tweets_df.isnull().sum()

# print the null counts
print(null_counts)

tweet_id       0
user_id        0
hashtag        0
date           0
retweets       0
likes          0
replies        0
text           0
location       0
source      2934
dtype: int64

In [6]:
# check for duplicate rows
duplicates = tweets_df[tweets_df.duplicated()]

# print the duplicate rows
print(duplicates)

Empty DataFrame
Columns: [tweet_id, user_id, hashtag, date, retweets, likes, replies, text, location, source]
Index: []

It appears that there is no duplicate row in our dataset. This means there is no row with the exact same values in all the columns.

In [7]:
# let us check also if there are duplicate tweet_id
duplicated_id = tweets_df[tweets_df['tweet_id'].duplicated()]

# print duplicate tweet_id
print(duplicated_id)

                 tweet_id              user_id   hashtag  \
2290  1651600772822446082  1271383529050513408    #TT228
2293  1647071038742855680  1559460640879955969    #TT228
2298  1640037792670441476            273074763    #TT228
2299  1638230044764938255            707143645    #TT228
2300  1638229983863644166           2420813436    #TT228
...                   ...                  ...       ...
2925  1483106043274145797   702386763873042437  #Team228
2926  1482730320730411011   702386763873042437  #Team228
2927  1482445968574459908   702386763873042437  #Team228
2929  1478654737708990468           1275885127  #Team228
2931  1478322899597598726           1275885127  #Team228

                          date  retweets  likes  replies  \
2290 2023-04-27 14:54:44+00:00         1      1        0
2293 2023-04-15 02:55:11+00:00         0      2        0
2298 2023-03-26 17:07:34+00:00         0      0        0
2299 2023-03-21 17:24:14+00:00         0      0        0
2300 2023-03-21 17:23:59+00:00         0      0        0
...                        ...       ...    ...      ...
2925 2022-01-17 15:56:50+00:00         1      1        0
2926 2022-01-16 15:03:50+00:00         1      1        0
2927 2022-01-15 20:13:56+00:00         1      2        0
2929 2022-01-05 09:08:56+00:00         2      5        0
2931 2022-01-04 11:10:19+00:00         0      1        0

                                                   text              location  \
2290  How to download and install Apps on a PC using...             Lome,Togo
2293  Today again, I chose kindness!\nWhat about you...
2298  #How to know that a good #decision has been ma...                  🇧🇯🇹🇬
2299  #CHP #Tohoun: les agents en sit-in de protesta...  République Togolaise
2300  #CHP #Tohoun: les agents en sit-in de protesta...  République Togolaise
...                                                 ...                   ...
2925  As we live in the era where #memories are capt...
2926  After a lot of technical issues we have upload...
2927  Imagine a minister of agriculture who listens ...
2929  Le Flow 🔥🔥\n&gt;&gt;&gt;&gt;https://t.co/8eKeZ...  République Togolaise
2931  Shhhessshhhh❤️🥰\nClip disponible 👇\n&gt;&gt;&g...  République Togolaise

     source
2290   None
2293   None
2298   None
2299   None
2300   None
...     ...
2925   None
2926   None
2927   None
2929   None
2931   None

[190 rows x 10 columns]


Our dataset has 190 rows with duplicate tweet_id, meaning there are 190 tweets with 2 or more hashtags.I choose not to drop the duplicated tweet_id rows as the analysis is based on the popularity of the hashtags there is no impartial way to drop a row of a specific hashtag in favour of another one without being biased.

In [8]:
# from the date column let us extratc the day of the week and the hour of the day and add them as news columns to the dataframe

# Convert the date column to a datetime format
tweets_df['date'] = pd.to_datetime(tweets_df['date'])

# Add a column for the day of the week and the hour of the day
tweets_df['day_of_week'] = tweets_df['date'].dt.day_name()
tweets_df['hour_of_day'] = tweets_df['date'].dt.hour

# we will use these two news columns further in our analysis of the engagement and popularity of tweets

In [9]:
tweets_df.head()

,tweet_id,user_id,hashtag,date,retweets,likes,replies,text,location,source,day_of_week,hour_of_day
0,1652407000083341314,940894696947306496,#Tgtwittos,2023-04-29 20:18:23+00:00,1,5,0,we are live link to teams : https://t.co/iCtDW...,Tech Enthusiast Palace,None,Saturday,20
1,1652322746259456000,1078599142514003968,#Tgtwittos,2023-04-29 14:43:36+00:00,1,2,0,""" #Togo is a land of young innovators, doers, ...",République Togolaise,None,Saturday,14
2,1652101793210421252,1902319314,#Tgtwittos,2023-04-29 00:05:36+00:00,0,2,0,The flag 🇹🇬 The ...,République Togolaise,None,Saturday,0
3,1652081148854452225,555754465,#Tgtwittos,2023-04-28 22:43:34+00:00,8,51,0,The Flag / ...,Togo,None,Friday,22
4,1651981956022693889,1419331325274767363,#Tgtwittos,2023-04-28 16:09:25+00:00,3,3,0,HP PROBOOK 455 G9 NoteBook \nWindows 11Pro \nA...,République Togolaise,None,Friday,16

Let's look at the location column to see how it can be cleaned

Assuming most of the tweets come from users living in Togo,and for all the tweets where the location appears, we can clean the location column by searching for key words in a list and replacing them by the appropriate country name for the inconsistent values, let us define lists for each possible country to clean the column values.

In [42]:
# we will start by defining lists for each country and  iterate through them to check if the location value contains 
# any of the words in each list
def clean_location(location):
    togo_words = ['Togo', 'Palace','Tg', '', 'Republique togolaise', 'Lomé', 'lomé', 'TOGO', 
                  'LOME','Palace','127.0.0.2','🌎','Adétikopé',
                 '🇧🇯🇹🇬','Afrique','🇹🇬🇹🇬🇹🇬','Wam','Village','Anywhere','N/A','Aaa','Blackleonarddevinci',
                  'Heureux😊','.','','60','TK',
                 'osiris','Miller','Styx','Fatima','Metaverse','earth', 'part', 'Land','creative_land',
                  'African','m’aime','Africa',
                 'Somewhere','papa','multivers','papa','TOP','Rit', 'living','be','AFRICA','cieux🤴🏽',
                  'immatures', 'https://maps.app.goo.gl/NzFsRR',
                 'world','Minamadou','127.0.0.1', 'pussy','Fatima', 'Undefined', 'fan','Mind', 'nuage',
                  'mountain','you🏞','@hbk_trae','S.']
    benin_words = ['Bénin','Pobé','Hèvié','Natitingou']
    ghana_words = ['Kwadaso', 'Africa|WestAfrica|Ghana','ACCRA-GHANA']
    senegal_words = ['Sénégal','Dakar','🇸🇳🇹🇬🇹🇳️🇳🇬']
    usa_words = ['NY','IL','CA','WA','FL','TX','Kirkland,WA','CO','Indiana','DC','chicago🇬🇧',
                 'Floor.','unis', 'States','Monica']
    canada_words = ['Québec','Quebec','AB']
    england_words = ['London','London,England','Bridge']
    niger_words = ['Niger)']
    nigeria_words = ['🇳🇬']
    ci_words = ["d'Ivoire",'Abidjan','d’Ivoire','Bretagne' ]
    france_words = ['Lyon','Paris','Nancy']
    china_words = ['Shanghai','china']
    ben_words = ['Benelux']
    faso_words = ['Faso']
    kenya_words = ['Nairobi']
    ph_words = ['Peninsula']
    ma_words = ['Rabat']
    tk_words = ['Republic']
    jm_words = ['Jamaïque']
    gn_words = ['Guinée']
    words = location.split()
    for word in words:
        if word in togo_words:
            return 'Togo'
        elif word in benin_words:
            return 'Benin'
        elif word in ghana_words:
            return 'Ghana'
        elif word in senegal_words:
            return 'Senegal'
        elif word in usa_words:
            return 'USA'
        elif word in canada_words:
            return 'Canada'
        elif word in england_words:
            return 'England'
        elif word in niger_words:
            return 'Niger'
        elif word in nigeria_words:
            return 'Nigeria'
        elif word in ci_words:
            return 'Ivory Coast'
        elif word in france_words:
            return 'France'
        elif word in china_words:
            return 'China'
        elif word in ben_words:
            return 'Luxembourg'
        elif word in faso_words:
            return 'Burkina Faso'
        elif word in kenya_words:
            return 'Kenya'
        elif word in ph_words:
            return 'Phillipines'
        elif word in ma_words:
            return 'Maroc'
        elif word in tk_words:
            return 'Turkey'
        elif word in jm_words:
            return 'Jamaica'
        elif word in gn_words:
            return 'Guinea'
    return location

tweets_df['location'] = tweets_df['location'].apply(clean_location)
tweets_df.location.unique()

array(['Togo', '', 'USA', 'France', 'Ghana', 'Nigeria', 'Turkey',
       'Jamaica', 'China', 'Niger', 'Benin', 'Canada', 'Senegal',
       'Burkina Faso', 'Rwanda', 'Ivory Coast', 'India', 'Maroc',
       'Ethiopia', 'Guinea', 'Luxembourg', 'England', 'Mauritania',
       'Mali', 'Belgium', 'Germany', 'Pakistan', 'Kenya', 'Gabon',
       'Phillipines'], dtype=object)

In [44]:
# The source column will have been of a great value to gain insights on the most used platform but since it does not contain 
# any value, let us drop it.
tweets_df = tweets_df.drop('source', axis=1)
tweets_df.head()

,tweet_id,user_id,hashtag,date,retweets,likes,replies,text,location,day_of_week,hour_of_day
0,1652407000083341314,940894696947306496,#Tgtwittos,2023-04-29 20:18:23+00:00,1,5,0,we are live link to teams : https://t.co/iCtDW...,Togo,Saturday,20
1,1652322746259456000,1078599142514003968,#Tgtwittos,2023-04-29 14:43:36+00:00,1,2,0,""" #Togo is a land of young innovators, doers, ...",Togo,Saturday,14
2,1652101793210421252,1902319314,#Tgtwittos,2023-04-29 00:05:36+00:00,0,2,0,The flag 🇹🇬 The ...,Togo,Saturday,0
3,1652081148854452225,555754465,#Tgtwittos,2023-04-28 22:43:34+00:00,8,51,0,The Flag / ...,Togo,Friday,22
4,1651981956022693889,1419331325274767363,#Tgtwittos,2023-04-28 16:09:25+00:00,3,3,0,HP PROBOOK 455 G9 NoteBook \nWindows 11Pro \nA...,Togo,Friday,16

In [46]:
# let us also drop the text column
tweets_df = tweets_df.drop('text', axis=1)

In [47]:
# We will end our data cleaning here by saving the dataframe in csv file
tweets_df.to_csv('tweets.csv', index=False)